body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

button {
  font-size: 20px;
  background-color: dodgerblue;
  color: white;
  border: 3px solid white;
  border-radius: 7px;
}

.start-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}

.game-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.arena {
  width: 800px;
  height: 600px;
  background-color: lightgray;
  position: relative !important;
  overflow: hidden;
}

.sprite {
  position: absolute;
}

.red {
  border-radius: 100%;
  border: 8px solid red;
  background: linear-gradient(to right, red , yellow);
}

.blue {
  border-radius: 100%;
  border: 8px solid blue;
}

.green {
  border-radius: 100%;
  border: 8px solid green;
}

